.layout {
  display: flex;
  min-height: 100vh;
}

.leftSide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-right: 1px solid var(--separator-color);
  padding: 40px;
}

.rightSide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
