:root {
  --font: 'Open Sans', sans-serif;
  --primery-color: #4c90fedc;
  --text-color: #000000;
  --text-secondary-color: #5b5b5e;
  --separator-color: #d4d6e0;
  --white-color: #ffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
