.input {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: var(--text-color);

  border: 1px solid var(--separator-color);
  border-radius: 10px;

  padding: 16px 30px;
  min-width: 256px;
  text-align: right;
}

.wrapper {
  position: relative;
}

.icon {
  position: absolute;
  left: 15px;
  top: 15px;
}
